In [90]:
import pyproj
from pyproj import Proj, transform

#fix lat long
pd.options.display.float_format = '{:20.5f}'.format

#having probdropping? use this
#df1 = df['violationcode'].dropna(how='any',axis=0)

In [77]:
import pandas as pd

In [78]:
import numpy as np
import datetime as dt

In [79]:
df = pd.read_csv('tickets_16_to_18.csv')

/Users/whitneyreiner/anaconda3/envs/insight/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [80]:
df.head()

,ticketnumber,meterid,markedtime,make,bodystyle,color,location,route,agency,violationcode,violationdescription,fineamount,latitude,longitude,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month
0,4270451813,NaN,NaN,VOLK,PA,BK,6837 TROOST AVE,350R1,53.0,80.73.2,EXCEED 72HRS-ST,68.0,6444797.3,1893590.6,09:39:00,2016-01-01 09:39:00,2016-01-01,2016,4,1
1,4271111983,NaN,NaN,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.0,22500E,BLOCKING DRIVEWAY,68.0,6475951.9,1811121.5,18:55:00,2016-01-01 18:55:00,2016-01-01,2016,4,1
2,4271111994,NaN,NaN,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.0,80.61,STANDNG IN ALLEY,68.0,6475951.9,1811121.5,19:09:00,2016-01-01 19:09:00,2016-01-01,2016,4,1
3,4271112005,NaN,NaN,TOYT,PA,TN,1309 53RD ST W,00500,55.0,5204A-,DISPLAY OF TABS,25.0,6471271.4,1820382.7,19:22:00,2016-01-01 19:22:00,2016-01-01,2016,4,1
4,4271605332,NaN,NaN,MASE,PA,RD,1313 51ST PL W,00500,55.0,80.56E4+,RED ZONE,93.0,6471248.1,1821050.3,20:52:00,2016-01-01 20:52:00,2016-01-01,2016,4,1

In [81]:
df['hour']=pd.to_datetime(df['issuetime'], format='%H:%M:%S').dt.time

In [82]:
df.head()

,ticketnumber,meterid,markedtime,make,bodystyle,color,location,route,agency,violationcode,...,fineamount,latitude,longitude,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month,hour
0,4270451813,NaN,NaN,VOLK,PA,BK,6837 TROOST AVE,350R1,53.0,80.73.2,...,68.0,6444797.3,1893590.6,09:39:00,2016-01-01 09:39:00,2016-01-01,2016,4,1,09:39:00
1,4271111983,NaN,NaN,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.0,22500E,...,68.0,6475951.9,1811121.5,18:55:00,2016-01-01 18:55:00,2016-01-01,2016,4,1,18:55:00
2,4271111994,NaN,NaN,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.0,80.61,...,68.0,6475951.9,1811121.5,19:09:00,2016-01-01 19:09:00,2016-01-01,2016,4,1,19:09:00
3,4271112005,NaN,NaN,TOYT,PA,TN,1309 53RD ST W,00500,55.0,5204A-,...,25.0,6471271.4,1820382.7,19:22:00,2016-01-01 19:22:00,2016-01-01,2016,4,1,19:22:00
4,4271605332,NaN,NaN,MASE,PA,RD,1313 51ST PL W,00500,55.0,80.56E4+,...,93.0,6471248.1,1821050.3,20:52:00,2016-01-01 20:52:00,2016-01-01,2016,4,1,20:52:00

In [83]:
df['hour'] = df['hour'].astype(str)
df.head()

,ticketnumber,meterid,markedtime,make,bodystyle,color,location,route,agency,violationcode,...,fineamount,latitude,longitude,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month,hour
0,4270451813,NaN,NaN,VOLK,PA,BK,6837 TROOST AVE,350R1,53.0,80.73.2,...,68.0,6444797.3,1893590.6,09:39:00,2016-01-01 09:39:00,2016-01-01,2016,4,1,09:39:00
1,4271111983,NaN,NaN,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.0,22500E,...,68.0,6475951.9,1811121.5,18:55:00,2016-01-01 18:55:00,2016-01-01,2016,4,1,18:55:00
2,4271111994,NaN,NaN,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.0,80.61,...,68.0,6475951.9,1811121.5,19:09:00,2016-01-01 19:09:00,2016-01-01,2016,4,1,19:09:00
3,4271112005,NaN,NaN,TOYT,PA,TN,1309 53RD ST W,00500,55.0,5204A-,...,25.0,6471271.4,1820382.7,19:22:00,2016-01-01 19:22:00,2016-01-01,2016,4,1,19:22:00
4,4271605332,NaN,NaN,MASE,PA,RD,1313 51ST PL W,00500,55.0,80.56E4+,...,93.0,6471248.1,1821050.3,20:52:00,2016-01-01 20:52:00,2016-01-01,2016,4,1,20:52:00

In [84]:
#fix hour to only be hour
#df['hour'] = 
df['hour'] = df['hour'].astype(str).str[:-6].astype(np.int64)

In [85]:
df.issueyear.value_counts()

2017    2152092
2016    1862231
2018    1266852
Name: issueyear, dtype: int64

In [86]:
df.columns

Index(['ticketnumber', 'meterid', 'markedtime', 'make', 'bodystyle', 'color',
       'location', 'route', 'agency', 'violationcode', 'violationdescription',
       'fineamount', 'latitude', 'longitude', 'issuetime', 'dt_issuednew',
       'issuedatenew', 'issueyear', 'weekday', 'month', 'hour'],
      dtype='object')

In [87]:
#drop row where issue time and others are NaN
df = df[~df['violationdescription'].isnull()]

In [88]:
df["fineamount"].isnull().sum()

0

In [104]:
df.columns

Index(['ticketnumber', 'meterid', 'markedtime', 'make', 'bodystyle', 'color',
       'location', 'route', 'agency', 'violationcode', 'violationdescription',
       'fineamount', 'latitude', 'longitude', 'issuetime', 'dt_issuednew',
       'issuedatenew', 'issueyear', 'weekday', 'month', 'hour'],
      dtype='object')

In [92]:
#delete all null violation codes because they are "000" and need to be NAN 
#re-drop row where NaN
df = df[~df['violationcode'].isnull()]

In [105]:
#remove so nothing 99999.0 lat or long instances
df = df[df.longitude != 99999.0]

In [106]:
#check to make sure all instances removed in longitude too
99999.0 in df.longitude

True

In [107]:
df.dtypes

ticketnumber             object
meterid                  object
markedtime              float64
make                     object
bodystyle                object
color                    object
location                 object
route                    object
agency                  float64
violationcode            object
violationdescription     object
fineamount              float64
latitude                float64
longitude               float64
issuetime                object
dt_issuednew             object
issuedatenew             object
issueyear                 int64
weekday                   int64
month                     int64
hour                      int64
dtype: object

In [108]:
df.head()

,ticketnumber,meterid,markedtime,make,bodystyle,color,location,route,agency,violationcode,...,fineamount,latitude,longitude,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month,hour
0,4270451813,NaN,nan,VOLK,PA,BK,6837 TROOST AVE,350R1,53.00000,80.73.2,...,68.00000,6444797.30000,1893590.60000,09:39:00,2016-01-01 09:39:00,2016-01-01,2016,4,1,9
1,4271111983,NaN,nan,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.00000,22500E,...,68.00000,6475951.90000,1811121.50000,18:55:00,2016-01-01 18:55:00,2016-01-01,2016,4,1,18
2,4271111994,NaN,nan,LEXS,PA,BK,7811 FIGUEROA ST S,00500,55.00000,80.61,...,68.00000,6475951.90000,1811121.50000,19:09:00,2016-01-01 19:09:00,2016-01-01,2016,4,1,19
3,4271112005,NaN,nan,TOYT,PA,TN,1309 53RD ST W,00500,55.00000,5204A-,...,25.00000,6471271.40000,1820382.70000,19:22:00,2016-01-01 19:22:00,2016-01-01,2016,4,1,19
4,4271605332,NaN,nan,MASE,PA,RD,1313 51ST PL W,00500,55.00000,80.56E4+,...,93.00000,6471248.10000,1821050.30000,20:52:00,2016-01-01 20:52:00,2016-01-01,2016,4,1,20

In [109]:
df2017 = df[df.issueyear == 2017]

In [110]:
df2017.head()

,ticketnumber,meterid,markedtime,make,bodystyle,color,location,route,agency,violationcode,...,fineamount,latitude,longitude,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month,hour
1463620,4298215331,NaN,nan,HOND,PA,GY,7502 WILLIS AVENUE,00300,40.00000,22500E,...,68.00000,6424011.87911,1897916.39865,01:15:00,2017-01-03 01:15:00,2017-01-03,2017,1,1,1
1463621,4298215342,NaN,nan,FORD,VN,WT,14957 FRIAR STREET,00300,40.00000,5204A-,...,25.00000,6422947.66828,1890265.91972,01:26:00,2017-01-03 01:26:00,2017-01-03,2017,1,1,1
1463622,4298215375,NaN,nan,HOND,PA,BK,14634 SYLVAN ST,00300,40.00000,22514,...,68.00000,6425072.23263,1889887.63734,01:32:00,2017-01-03 01:32:00,2017-01-03,2017,1,1,1
1463623,4298273836,NaN,nan,HOND,PA,RD,1487 28TH ST W,00500,55.00000,22500E,...,68.00000,6472758.88888,1833275.81104,00:44:00,2017-01-03 00:44:00,2017-01-03,2017,1,1,0
1463624,4298273840,NaN,nan,TOYT,PU,GN,2900 BUDLONG AVE,00500,55.00000,80.56E4+,...,93.00000,6472011.02035,1832941.50835,00:46:00,2017-01-03 00:46:00,2017-01-03,2017,1,1,0

In [111]:
exp = df2017
tmp = exp['violationdescription'].value_counts()
var_list = [tmp.index[i] for i in range(0, len(tmp)) if tmp[i] <1000 ]

var_list

['22500E',
 'DP- RO NOT PRESENT',
 'STNDNG IN ALLEY',
 'TIME LIMIT/CITY LOT',
 'PARK IN GRID LOCK ZN',
 'GREEN ZONE',
 'PKD OVER TIME LIMIT',
 '5200',
 '2251157A',
 'DP-BLKNG ACCESS RAMP',
 'CARSHARE PARKING',
 '22502A',
 '5204',
 '22514',
 'PARKING AREA',
 'EXCEED 72 HOURS',
 'NO STOP/STAND AM',
 '3 FT. SIDEWALK RAMP',
 'PKD IN/ON PARKWAY',
 'LOAD/UNLOAD ONLY',
 'RED FLAG DAY',
 'DISABLED PARKING/OBSTRUCT ACCESS',
 'PK OVERSIZ',
 'PK OUTSD PK STL',
 'WRG SD/NOT PRL',
 'NO PK BET 1-3AM',
 'DISABLED PARKING/BOUNDARIES',
 'EXCEED TIME LMT',
 'COMVEH RES/OV TM LMT',
 'PARK-PSTD AREAS',
 'PUBLIC GROUNDS',
 'PK OTSD PSTD AR',
 'HANDICAP/CROSS HATCH',
 'HANDICPD/BLOCKING',
 'HANDICAP/ON LINE',
 'CLEANING VEH/STREET',
 'SIGN POSTED - NO PARKING',
 'COMVEH RES/OV TM C-3',
 'R/PRIV PARKING AREA',
 'DP-REFUSE ID',
 'PK TRAILER',
 'PARKING OUTSIDE PARKING STALLS',
 'RESTRICTED ZONE',
 'COMVEH RES/OV TM B-2',
 'PARKING/FRONT YARD 1',
 'UNATT/MOTOR ON',
 'PARKING PROHIB',
 'DP-ALTERED',
 'STORING VEH/ON STR',
 'PK-15FT FIRE ST',
 'AUDIBLE ALARM',
 "VEH/LOAD OVR 6' HIGH",
 'OBST FIRE RD',
 'PRKG PUBL GRNDS',
 'BLOCK HANDICAP ACCES',
 'PK OUTSD SPACE',
 'PERIOD OF DISPLAY',
 'PK OVERSIZED 1ST',
 'DP-SUBPLATE',
 'BLOCKING INTERSECTION',
 'PARKING UNHITCHED TR',
 'PARK FIRE LANE',
 'PARK RED FLAG DAY',
 'ABAND VEH/HIGHWAY',
 'OFF STREET/OVERTIME',
 'LEFT SIDE OF ROADWAY',
 'PARKED IN ELEC VEHICLE SPACE',
 'ADVERTISING ON VEH',
 'OVERSIZED VEHICLE PARKING TOPHAM ST',
 'PARK IN XWALK',
 'PARK RESTRCD',
 'PK ON PRIV ST',
 'ANGLE PKD',
 'ILGL EXT OF TM',
 'BLK BIKE PATH OR LAN',
 'DSPLYPLATE B',
 'SIGN PSTD-NO PK',
 'PK OVR 2 SPACES',
 'CATERING VIOLATION',
 'YELLOW CURB',
 'PK OVERSIZED 3RD',
 'REPAIRING VEH/STREET',
 'MORE 18-CURB',
 'BICYCLE PARKING',
 'PK OVERSIZED 2ND',
 'POSITION OF PLATES',
 'PK TRLR-PUBL AR',
 'HANDICPD/ON LINE',
 'OUTSIDE MARKER',
 'PK TRAILER 2',
 'FOR SALE SIGN',
 'PK OVR PNTD LNS',
 'ON RR TRACK/7.5 FT',
 'ABAND VEH/PUB/PRIV',
 'MT FIRE RD NO PERMIT',
 'COMMERCIAL - UNDESIG',
 'RESTRCTD ZONES',
 '6FT OF RR TRACK',
 'DEFECT WIPERS',
 'PARKING/FRONT YARD 2',
 'MISUSE/DP PRIVILEGE',
 'RV-OVERNIGHT',
 'STATE HIGHWAY PARKNG',
 'PSGR LOADING ZN',
 'NO COIN DEP IN METER',
 'PK VEH SALE/RNT',
 'UNINCORP AREA',
 'FRONT BUMP REQ',
 'PK TRAILER 3',
 'W/I 25 FT. CROSSWALK',
 'IN PARK AFT HRS',
 'TRAILER NOT ATTACHED',
 'DEF WINDSHIELD',
 'OBSTR EXCAVATN',
 'PARKING OUTSIDE OF S',
 'BLK INT PROHIB']

In [112]:
remove =['4000A',
 '80581',
 '22500B',
 '2251157B',
 '22500I',
 '22502E',
 '225078',
 '22522',
 '5201F',
 '8755',
 '22500A',
 '21113A',
 '2251157C',
 '22502',
 '8606B',
 '5200A1',
 '8603B',
 '5201A',
 '17104h',
 '2251157',
 '5201B',
 '22500E1',
 '4000',
 '22502B',
 '22500C',
 '22523B',
 '22523A',
 '22500D',
 '8755*',
 '22500G',
 '22500K',
 '8755**',
 '806910',
 '5200F',
 '22515',
 '52011C',
 '22658A',
 '5202A',
 '6344',
 '8054',
 '5204F',
 '5201C',
 '40001A',
 '4464',
 '22500J',
 '225078BC',
 '22502C',
 '225022',
 '22502A2',
 '8606A',
 '80661',
 '8049A',
 '8056A1',
 '8066',
 '5204A1',
 '225078A2',
 '2251175A',
 '8939B',
 '22502AE',
 '501B',
 '8069',
 '80703',
 '572521B',
 '572125D',
 '22500',
 '4462',
 '22507A',
 '5200AB',
 '26706',
 '80741',
 '5200E1',
 '22515A',
 '6344B',
 '5201G',
 '40001',
 '8073B2B',
 '8813C',
 '5200H',
 '21113C',
 '8753',
 '8071',
 '807141A',
 '89691A','5200C']

In [165]:
remove

['4000A',
 '80581',
 '22500B',
 '2251157B',
 '22500I',
 '22502E',
 '225078',
 '22522',
 '5201F',
 '8755',
 '22500A',
 '21113A',
 '2251157C',
 '22502',
 '8606B',
 '5200A1',
 '8603B',
 '5201A',
 '17104h',
 '2251157',
 '5201B',
 '22500E1',
 '4000',
 '22502B',
 '22500C',
 '22523B',
 '22523A',
 '22500D',
 '8755*',
 '22500G',
 '22500K',
 '8755**',
 '806910',
 '5200F',
 '22515',
 '52011C',
 '22658A',
 '5202A',
 '6344',
 '8054',
 '5204F',
 '5201C',
 '40001A',
 '4464',
 '22500J',
 '225078BC',
 '22502C',
 '225022',
 '22502A2',
 '8606A',
 '80661',
 '8049A',
 '8056A1',
 '8066',
 '5204A1',
 '225078A2',
 '2251175A',
 '8939B',
 '22502AE',
 '501B',
 '8069',
 '80703',
 '572521B',
 '572125D',
 '22500',
 '4462',
 '22507A',
 '5200AB',
 '26706',
 '80741',
 '5200E1',
 '22515A',
 '6344B',
 '5201G',
 '40001',
 '8073B2B',
 '8813C',
 '5200H',
 '21113C',
 '8753',
 '8071',
 '807141A',
 '89691A',
 '5200C']

In [113]:
df2017 = df2017[~df2017['violationdescription'].isin(['remove'])]

In [114]:
df.violationdescription.value_counts()

NO PARK/STREET CLEAN              1521853
METER EXP.                         958465
RED ZONE                           400257
PREFERENTIAL PARKING               387564
DISPLAY OF TABS                    317674
NO PARKING                         241360
DISPLAY OF PLATES                  150711
PARKED OVER TIME LIMIT             131410
WHITE ZONE                         118165
NO STOP/STANDING                    98247
BLOCKING DRIVEWAY                   70548
STANDNG IN ALLEY                    70438
YELLOW ZONE                         59346
STOP/STAND PROHIBIT                 57351
NO STOP/STAND                       53588
PARKED OVER TIME LIM                53565
PARKED ON SIDEWALK                  46866
NO STOPPING/ANTI-GRIDLOCK ZONE      43619
18 IN. CURB/2 WAY                   43065
FIRE HYDRANT                        43027
EXCEED 72HRS-ST                     42717
DOUBLE PARKING                      35556
OUTSIDE LINES/METER                 33501
OFF STR/OVERTIME/MTR                30393
NO EVIDENCE OF REG                  23192
COMM VEH OVER TIME LIMIT            16028
NO STOPPING/ANTI-GRI                14232
DISABLED PARKING/NO DP ID           13799
PARKED IN PARKWAY                   13054
WHITE CURB                          10109
                                   ...
RESTRCTD ZONES                          5
STATE HIGHWAY PARKNG                    4
PARKING OUTSIDE OF S                    4
RV-OVERNIGHT                            4
STANDING IN ALLEY                       3
MOB BILBD ADV DISP                      3
PARKED ON BRIDGE                        3
COMMERCIAL - UNDESIG                    3
DEFECT WIPERS                           2
TEMPORARY NO PARKING                    2
PSGR LOADING ZN                         2
PARKNG IN TUNNEL                        2
CATERING/W/I 200 FT                     2
FR FORGN JURIS                          2
TRAILER NOT ATTACHED                    2
FRONT BUMP REQ                          2
FAIL DEP COIN                           2
NO COIN DEP IN METER                    2
PARKING-SNOW AREA                       2
PK VEH SALE/RNT                         1
DEF WINDSHIELD                          1
NO PARK STRT CLEAN                      1
VETS EXEMPTION                          1
UNINCORP AREA                           1
STOP/STAND PROHB                        1
IN PARK AFT HRS                         1
OFF STR MTR/NO COIN                     1
W/I 25 FT. CROSSWALK                    1
PK NR FIRE HYDR                         1
BLK INT PROHIB                          1
Name: violationdescription, Length: 203, dtype: int64

In [94]:
#to do just a sample of them at once
#dflatlong = pd.DataFrame({'latitude':df1['latitude'],'longitude':df1['longitude']}).head(100000)
#dflatlong.head()

In [115]:
import geopandas
from shapely.geometry import Point
from fiona.crs import from_epsg

In [ ]:
# Proj.4 +proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +datum=NAD83 +units=us-ft +no_defs

In [205]:
#testing x=long y = lat
#x, y = (6478870.5697949985, 1841729.342198)
#projstr = """+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +datum=NAD83 +units=us-ft +no_defs"""

#myproj = pyproj.Proj(projstr, preserve_units=True)
#myproj(x, y, inverse=True)
# (-73.99897854592253, 40.75405155302713)

#badproj = pyproj.Proj(projstr)
#badproj(x, y, inverse=True)
# (-65.75200831429146, 41.80318458470038)

(-118.27333599928993, 34.05285400057737)

In [116]:
projstr = """+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +datum=NAD83 +units=us-ft +no_defs"""

inProj = pyproj.Proj(projstr, preserve_units=True)
outProj = pyproj.Proj(init='epsg:4326')

In [135]:
#fix lat long
pd.options.display.float_format = '{:20.5f}'.format

In [118]:

df2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152092 entries, 1463620 to 5254243
Data columns (total 21 columns):
ticketnumber            object
meterid                 object
markedtime              float64
make                    object
bodystyle               object
color                   object
location                object
route                   object
agency                  float64
violationcode           object
violationdescription    object
fineamount              float64
latitude                float64
longitude               float64
issuetime               object
dt_issuednew            object
issuedatenew            object
issueyear               int64
weekday                 int64
month                   int64
hour                    int64
dtypes: float64(5), int64(4), object(12)
memory usage: 361.2+ MB

In [119]:
dflatlong17 = pd.DataFrame({'latitude':df2017['latitude'],'longitude':df2017['longitude']})

def convertCoords(row):
    x2,y2 = pyproj.transform(inProj,outProj, row['latitude'],row['longitude'])
    return pd.Series({'newLong':x2,'newLat':y2})

dflatlong17 = dflatlong17.join(dflatlong17.apply(convertCoords, axis=1))

In [225]:
columns = ["latitude", "longitude"]
geocoords = dflatlong.drop(columns, axis=1)
geocoords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5281175 entries, 15742 to 8079535
Data columns (total 2 columns):
newLat     float64
newLong    float64
dtypes: float64(2)
memory usage: 280.9 MB

In [122]:

dflatlong17 = dflatlong17.drop(["latitude", "longitude"], axis=1)

In [123]:
df_2017 = pd.concat([df2017, dflatlong17], axis=1)
df_2017.head()


#newdf = pd.concat([df_recent, geocoords], axis=1)

#newdf = pd.concat([df_recent, geocoords], axis=1, ignore_index=True)
#df_recent.head() 
#also I could specify for things to be aligned by ticket #
#abhilash 
#do both dataframes have that column? if so just replace df1.index with the df1.ticketnumber col

,ticketnumber,meterid,markedtime,make,bodystyle,color,location,route,agency,violationcode,...,longitude,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month,hour,newLat,newLong
1463620,4298215331,NaN,nan,HOND,PA,GY,7502 WILLIS AVENUE,00300,40.00000,22500E,...,1897916.39865,01:15:00,2017-01-03 01:15:00,2017-01-03,2017,1,1,1,34.20670,-118.45528
1463621,4298215342,NaN,nan,FORD,VN,WT,14957 FRIAR STREET,00300,40.00000,5204A-,...,1890265.91972,01:26:00,2017-01-03 01:26:00,2017-01-03,2017,1,1,1,34.18567,-118.45868
1463622,4298215375,NaN,nan,HOND,PA,BK,14634 SYLVAN ST,00300,40.00000,22514,...,1889887.63734,01:32:00,2017-01-03 01:32:00,2017-01-03,2017,1,1,1,34.18465,-118.45165
1463623,4298273836,NaN,nan,HOND,PA,RD,1487 28TH ST W,00500,55.00000,22500E,...,1833275.81104,00:44:00,2017-01-03 00:44:00,2017-01-03,2017,1,1,0,34.02958,-118.29343
1463624,4298273840,NaN,nan,TOYT,PU,GN,2900 BUDLONG AVE,00500,55.00000,80.56E4+,...,1832941.50835,00:46:00,2017-01-03 00:46:00,2017-01-03,2017,1,1,0,34.02865,-118.29590

In [125]:
df_2017 = df_2017.drop(['meterid', 'markedtime','latitude', 'longitude'], axis =1)

In [126]:
df_2017.tail(100)

,ticketnumber,make,bodystyle,color,location,route,agency,violationcode,violationdescription,fineamount,issuetime,dt_issuednew,issuedatenew,issueyear,weekday,month,hour,newLat,newLong
4202284,1121043814,NaN,SU,BK,5134 LONG BEACH BL,01364,1.00000,8058L,PREF PARKING,68.00000,11:45:00,2017-12-28 11:45:00,2017-12-28,2017,3,12,11,33.99602,-118.24316
4202285,1121043825,MERZ,PA,WH,5132 LONG BEACH BL,01364,1.00000,8058L,PREF PARKING,68.00000,11:45:00,2017-12-28 11:45:00,2017-12-28,2017,3,12,11,33.99604,-118.24316
4202286,1121043836,TOYO,PA,SI,5130 LONG BEACH BL,01364,1.00000,8058L,PREF PARKING,68.00000,11:50:00,2017-12-28 11:50:00,2017-12-28,2017,3,12,11,33.99605,-118.24316
4202287,1121043840,DODG,VN,BL,5130 LONG BEACH BL,01364,1.00000,8058L,PREF PARKING,68.00000,11:50:00,2017-12-28 11:50:00,2017-12-28,2017,3,12,11,33.99605,-118.24316
4202288,1121043851,NISS,PA,WH,5124 LONG BEACH BL,01364,1.00000,8058L,PREF PARKING,68.00000,12:00:00,2017-12-28 12:00:00,2017-12-28,2017,3,12,12,33.99611,-118.24315
4202290,1121043873,FORD,TR,SI,1750 E 54TH ST,01377,1.00000,8058L,PREF PARKING,68.00000,09:10:00,2017-01-04 09:10:00,2017-01-04,2017,2,1,9,33.99382,-118.24218
4202291,1121043884,FORD,SU,BL,1750 E 54TH ST,01377,1.00000,8058L,PREF PARKING,68.00000,09:10:00,2017-01-04 09:10:00,2017-01-04,2017,2,1,9,33.99382,-118.24218
4202292,1121043895,FORD,PA,RE,1750 E 54TH ST,01377,1.00000,8058L,PREF PARKING,68.00000,09:10:00,2017-01-04 09:10:00,2017-01-04,2017,2,1,9,33.99382,-118.24218
4202298,1121044083,MITS,PA,SI,55TH ST AT BANDERA,13H21,1.00000,8056E4,RED ZONE,93.00000,11:30:00,2017-12-28 11:30:00,2017-12-28,2017,3,12,11,33.99297,-118.24072
4202299,1121044116,TOYO,PA,WH,57TH ST & DUARTE ST,13H21,1.00000,4A1,NO EVIDENCE OF REG,50.00000,23:45:00,2017-12-28 23:45:00,2017-12-28,2017,3,12,23,33.99126,-118.24223
4202300,1121044120,CHEV,VN,BK,STAUNTON AVE & 47TH,13H21,1.00000,4A1,NO EVIDENCE OF REG,50.00000,16:25:00,2017-12-28 16:25:00,2017-12-28,2017,3,12,16,34.00109,-118.24203
4202313,1121049020,MITS,PA,BK,1349 E 27TH STREET,13E1,1.00000,8056E4,RED ZONE,93.00000,03:40:00,2017-12-31 03:40:00,2017-12-31,2017,6,12,3,34.01515,-118.24960
4202314,1121049031,DODG,PA,WH,764 E 43RD PL,13E1,1.00000,013,22500H,68.00000,06:00:00,2017-12-31 06:00:00,2017-12-31,2017,6,12,6,34.00481,-118.26234
4202328,1121050265,FORD,VN,WH,3101 S HILL ST,13A41,1.00000,8056E4,RED ZONE,93.00000,17:00:00,2017-11-20 17:00:00,2017-11-20,2017,0,11,17,34.02193,-118.27339
4202329,1121050280,CHRY,PA,BL,322 W 51ST ST,13E1,1.00000,4A1,NO EVIDENCE OF REG,50.00000,11:10:00,2017-12-22 11:10:00,2017-12-22,2017,4,12,11,33.99649,-118.27890
4202408,1122706432,CHEV,PA,BK,400 WORLD WAY,3F52,2.00000,8939,WHITE CURB,58.00000,22:00:00,2017-02-05 22:00:00,2017-02-05,2017,6,2,22,33.94521,-118.40144
4202718,1122774306,TOYO,TR,BL,6221 W 96TH ST SEC 3,2X5,2.00000,4A1,NO EVIDENCE OF REG,50.00000,20:10:00,2017-02-05 20:10:00,2017-02-05,2017,6,2,20,33.94884,-118.39437
4202737,1122776056,JEEP,PA,BK,200 WORLD WAY (UPPER,5M35,2.00000,8939,WHITE CURB,58.00000,08:15:00,2017-01-28 08:15:00,2017-01-28,2017,5,1,8,33.94521,-118.40115
4203482,1125738456,FORD,PA,BK,1822 WILTON,00441,54.00000,8069BS,NO PARK/STREET CLEAN,73.00000,10:19:00,2017-02-07 10:19:00,2017-02-07,2017,1,2,10,34.10395,-118.31364
4348884,1084594254,DODG,VN,BK,139 S ALVARADO,2S17,1.00000,4A1,NO EVIDENCE OF REG,50.00000,09:50:00,2017-02-23 09:50:00,2017-02-23,2017,3,2,9,34.06564,-118.27096
4349841,1110074291,HOND,NaN,NaN,641 N KILKEA AVE,NaN,1.00000,8058L,PREF PARKING,68.00000,18:02:00,2017-07-22 18:02:00,2017-07-22,2017,5,7,18,34.08244,-118.36693
4350856,1111074871,FORD,SU,NaN,4207 S BRONSON AV,00500,55.00000,8056E4,RED ZONE,93.00000,01:57:00,2017-02-28 01:57:00,2017-02-28,2017,1,2,1,34.00828,-118.33325
4351077,1111280321,MERZ,PA,BK,11025 WEDDINGTON,NaN,53.00000,8069B,NO PARKING,73.00000,07:01:00,2017-12-02 07:01:00,2017-12-02,2017,5,12,7,34.16699,-118.37094
4351078,1111280343,OTHR,PA,BK,11025 WEDDINGTON,NaN,53.00000,8069B,NO PARKING,73.00000,07:07:00,2017-12-02 07:07:00,2017-12-02,2017,5,12,7,34.16699,-118.37094
4351119,1112368983,TOYO,PA,BK,380 WORLD WAY L/L BC,3C206,2.00000,8939,WHITE CURB,58.00000,18:26:00,2017-11-25 18:26:00,2017-11-25,2017,5,11,18,33.94521,-118.40141
4351264,1114199192,CHRY,PA,BL,467 E 102ND ST,01829,1.00000,80714,PRIVATE PROPERTY,68.00000,16:35:00,2017-10-15 16:35:00,2017-10-15,2017,6,10,16,33.94376,-118.26582
4351468,1114508975,NISS,TR,GY,5000 TYRONE AVE,NaN,36.00000,8603,PK IN PROH AREA,68.00000,23:54:00,2017-02-28 23:54:00,2017-02-28,2017,1,2,23,34.16032,-118.44433
4351586,1114992944,HOND,PA,GY,9301 TAMPA AV,M23,1.00000,225078A,HANDICAP/NO DP ID,363.00000,15:40:00,2017-03-10 15:40:00,2017-03-10,2017,4,3,15,34.23911,-118.55357
4351732,1115086442,DODG,PA,WH,14600 HARDING,352L2,1.00000,4A1,NO EVIDENCE OF REG,50.00000,08:45:00,2017-05-18 08:45:00,2017-05-18,2017,3,5,8,34.28026,-118.45262
4351820,1115166706,CHEV,TR,WH,354 W SEPULVEDA ST,25Q25,1.00000,4A1,NO EVIDENCE OF REG,50.00000,11:05:00,2017-02-28 11:05:00,2017-02-28,2017,1,2,11,33.74509,-118.28469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4539427,1115351602,HOND,PA,BK,22400 HALLDALE,NaN,36.00000,8603,PK IN PROH AREA,68.00000,23:49:00,2017-08-01 23:49:00,2017-08-01,2017,1,8,23,33.82339,-118.30152
4539428,1115358215,HOND,PA,GY,140 JUDGE JOHN AISO,NaN,1.00000,4A1,NO EVIDENCE OF REG,50.00000,09:00:00,2017-08-01 09:00:00,2017-08-01,2017,1,8,9,34.05078,-118.24054
4539429,1115358226,BMW,PA,GO,140 JUDGE JOHN AISO,NaN,1.00000,4A1,NO EVIDENCE OF REG,50.00000,09:33:00,2017-08-01 09:33:00,2017-08-01,2017,1,8,9,34.05078,-118.24054
4539538,1115763250,HOND,PA,GY,3903 W 1ST STREET,20SL2,1.00000,4A1,NO EVIDENCE OF REG,50.00000,12:25:00,2017-03-27 12:25:00,2017-03-27,2017,0,3,12,34.07277,-118.29842
4540250,1120808021,GMC,SU,SI,3100 CANYON LAKE DR,6T7,1.00000,8056E4,RED ZONE,93.00000,11:45:00,2017-04-07 11:45:00,2017-04-07,2017,4,4,11,34.12580,-118.32557
4540353,1120838040,MERZ,PA,WH,611 S KINGSLEY,NaN,1.00000,4A1,NO EVIDENCE OF REG,50.00000,12:37:00,2017-03-27 12:37:00,2017-03-27,2017,0,3,12,34.06166,-118.30308
4540419,1120839440,LEXS,PA,BK,1147 S HOBART,NaN,1.00000,4A1,NO EVIDENCE OF REG,50.00000,09:44:00,2017-03-15 09:44:00,2017-03-15,2017,2,3,9,34.05000,-118.30522
4540487,1120844723,CHEV,TR,BK,FIGUEROA & AVE 55,MQ33,1.00000,8061,STNDNG IN ALLEY,68.00000,11:10:00,2017-01-15 11:10:00,2017-01-15,2017,6,1,11,34.10795,-118.19613
4540675,1120968122,FORD,MH,TA,859 E 120TH ST,18SL6,1.00000,4A1,NO EVIDENCE OF REG,50.00000,12:13:00,2017-03-27 12:13:00,2017-03-27,2017,0,3,12,33.92372,-118.25975
4540802,1121022792,FORD,TR,WH,1802 E 54TH ST,13Q23,1.00000,8069B,NO PARKING,73.00000,08:20:00,2017-03-28 08:20:00,2017-03-28,2017,1,3,8,33.99381,-118.24107
4540857,1121028871,FORD,SW,WH,501 E VERNON AVE,13Q21,1.00000,4A1,NO EVIDENCE OF REG,50.00000,10:05:00,2017-03-28 10:05:00,2017-03-28,2017,1,3,10,34.00388,-118.26647
4540933,1121115096,JEEP,PA,SI,52 WINDWARD AVE,14FB1,1.00000,4A1,NO EVIDENCE OF REG,50.00000,20:40:00,2017-04-05 20:40:00,2017-04-05,2017,2,4,20,33.98733,-118.47284
4541001,1121128820,TOYO,PA,SI,6100 WOODMAN AV,31MQ3,1.00000,5204A,EXPIRED TAGS,25.00000,08:30:00,2017-04-02 08:30:00,2017-04-02,2017,6,4,8,34.18123,-118.43125
4541345,1122756994,NISS,PA,RE,7610 WOODLEY,1A4,11.00000,5204A,EXPIRED TAGS,25.00000,09:20:00,2017-03-20 09:20:00,2017-03-20,2017,0,3,9,34.20864,-118.48367
4541450,1122765851,JEEP,TR,BK,L/L 700 WORLD WAY,3C406,2.00000,8939,WHITE CURB,58.00000,23:40:00,2017-01-25 23:40:00,2017-01-25,2017,2,1,23,33.94521,-118.40186
4541516,1122775393,MERC,PA,RE,301 WORLD WAY,2FB31,2.00000,4A1,NO EVIDENCE OF REG,50.00000,15:20:00,2017-04-01 15:20:00,2017-04-01,2017,5,4,15,33.94438,-118.40785
4541729,1122798622,TOYO,PA,GY,101 WORLD WAY,5M38,2.00000,225078A,HANDICAP/NO DP ID,363.00000,16:35:00,2017-03-05 16:35:00,2017-03-05,2017,6,3,16,33.94521,-118.40201
4729166,1114561243,KIA,PA,WH,2800 W OBSERVATORY,NaN,4.00000,8603,PK IN PROH AREA,68.00000,23:05:00,2017-04-14 23:05:00,2017-04-14,2017,4,4,23,34.12341,-118.30241
4744034,1115377911,HOND,PA,BK,1323 S FLOWER ST,00192,1.00000,4A1,NO EVIDENCE OF REG,50.00000,22:05:00,2017-12-18 22:05:00,2017-12-18,2017,0,12,22,34.03955,-118.26716
4744079,1120992692,FORD,VN,WH,310 E OLYMPIC BLVD,FB28,1.00000,8069B,NO PARKING,73.00000,02:50:00,2017-04-18 02:50:00,2017-04-18,2017,1,4,2,34.03883,-118.25486
4785095,1116194844,VW,PA,WH,6615 PACIFIC AVE,NaN,36.00000,8603,PK IN PROH AREA,68.00000,21:25:00,2017-05-07 21:25:00,2017-05-07,2017,6,5,21,33.96012,-118.45156
4848458,1116257505,NaN,PA,GY,3720 STEPHEN M WHITE,NaN,4.00000,8603,PK IN PROH AREA,68.00000,18:02:00,2017-05-12 18:02:00,2017-05-12,2017,4,5,18,33.71056,-118.28605
4936990,1116185265,TOYO,SU,GY,11126 ORCAS AVE,36Q31,1.00000,6344K2,NO PK BET 1-3AM,68.00000,20:15:00,2017-06-10 20:15:00,2017-06-10,2017,5,6,20,34.27060,-118.36867
4969370,1125135023,JEEP,PA,WH,900 S HARVARD BL,00452,54.00000,5204A,EXPIRED TAGS,25.00000,10:20:00,2017-06-20 10:20:00,2017-06-20,2017,1,6,10,34.05588,-118.30416
4982871,1116883736,VOLK,PA,BK,807 W PASEO DEL MAR,NaN,4.00000,8056E4,RED ZONE,93.00000,13:16:00,2017-09-09 13:16:00,2017-09-09,2017,5,9,13,33.70810,-118.29466
4982872,1116883751,TOYO,SU,SI,807 W PASEO DEL MAR,NaN,4.00000,8056E4,RED ZONE,93.00000,13:36:00,2017-09-09 13:36:00,2017-09-09,2017,5,9,13,33.70810,-118.29466
5047914,1122746973,HOND,PA,NaN,380 WORLD WAY L/L,2C201,2.00000,8936,RED CURB,93.00000,13:20:00,2017-05-15 13:20:00,2017-05-15,2017,0,5,13,33.94521,-118.40141
5186885,1127161792,FORD,VN,WH,100 WORLD WAY,2C603,2.00000,8939,WHITE CURB,58.00000,07:36:00,2017-08-08 07:36:00,2017-08-08,2017,1,8,7,33.94521,-118.40101
5215678,1127148190,HOND,PA,BL,7610 WOODLEY AVE,1C15,11.00000,89391C,EXCEED TIME LMT,58.00000,08:05:00,2017-08-06 08:05:00,2017-08-06,2017,6,8,8,34.20864,-118.48367
5254243,1112782156,NISS,PA,WH,11770 FOOTHILL BLVD,NaN,4.00000,8069B,NO PARKING,73.00000,11:33:00,2017-08-12 11:33:00,2017-08-12,2017,5,8,11,34.27298,-118.39226

In [127]:
df_2017.issueyear.value_counts()

2017    2152092
Name: issueyear, dtype: int64

In [128]:
df_2017.to_csv("tickets17.csv", encoding="utf-8", index =False)

#example    inProj = Proj(init='epsg:102645')
outProj = Proj(init='epsg:4326')
x1,y1 = latList,longList
x2,y2 = transform(inProj,outProj,x1[],y1[])
print(x2,y2)

In [249]:
#TEST SET 
# alreaady run above testset = df1.tail(4000)

testdfCoord = testset[testset.columns[-2:]]

In [250]:
testdfCoord.head()

                    latitude            longitude
5736479            6421010.5            1839686.4
5736480            6421010.5            1839686.4
5736481            6421010.5            1839686.4
5736482            6421785.5            1840434.0
5736483            6421785.5            1840434.0

In [116]:
projstr = """+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +datum=NAD83 +units=us-ft +no_defs"""

inProj = pyproj.Proj(projstr, preserve_units=True)
outProj = pyproj.Proj(init='epsg:4326')

In [254]:
testLatLong = pd.DataFrame({'latitude':testdfCoord['latitude'],'longitude':testdfCoord['longitude']}).head(100000)

def convertCoords(row):
    x2,y2 = pyproj.transform(inProj,outProj, row['latitude'],row['longitude'])
    return pd.Series({'newLong':x2,'newLat':y2})

testLatLong = testLatLong.join(testdfCoord.apply(convertCoords, axis=1))

In [ ]:
testLatLong.head()

In [261]:
newTestdf = pd.concat([df1, testLatLong], axis=1)
newTestdf.tail()

,ticketnumber,markedtime,location,route,violationcode,violationdescription,latitude,longitude,latitude,longitude,newLat,newLong
5741051,4339662180,nan,202 WITMER ST,00600,80.56E4+,RED ZONE,6482449.60671,1844648.38083,6482449.60671,1844648.38083,34.06090,-118.26155
5741052,4339662191,nan,202 WITMER ST,00600,5200,DISPLAY OF PLATES,6482449.60671,1844648.38083,6482449.60671,1844648.38083,34.06090,-118.26155
5741053,4339780012,nan,7301 STANFORD AVE S,00500,80.56E4+,RED ZONE,6481936.53222,1812975.72531,6481936.53222,1812975.72531,33.97387,-118.26297
5741054,4339780023,nan,759 76TH ST E,00500,80.56E4+,RED ZONE,6474798.69188,1811858.52918,6474798.69188,1811858.52918,33.97074,-118.28650
5741057,4339814150,nan,14942 POLK ST,301,80.61,STANDNG IN ALLEY,6423372.01336,1931975.85435,6423372.01336,1931975.85435,34.30028,-118.45791

In [265]:
columns = ["latitude", "longitude"]
testnewdf = newTestdf.drop(columns, axis=1)

,ticketnumber,markedtime,location,route,violationcode,violationdescription,newLat,newLong
5736479,4338894840,nan,1201 ARMACOST AV,00304,88.13B+,METER EXP.,34.04666,-118.46432
5736480,4338894851,nan,1201 ARMACOST AV,00304,88.13B+,METER EXP.,34.04666,-118.46432
5736481,4338894862,nan,1201 ARMACOST AV,00304,5200,DISPLAY OF PLATES,34.04666,-118.46432
5736482,4338894873,nan,1201 STONER AV,00304,88.13B+,METER EXP.,34.04872,-118.46177
5736483,4338894884,nan,1200 STONER AV,00304,88.13B+,METER EXP.,34.04872,-118.46177
5736484,4338894895,nan,267 AMALFI DR,00304,80.69B,NO PARKING,34.03174,-118.51475
5736485,4338894906,nan,500 BROADWAY CT,00304,80.61,STANDNG IN ALLEY,33.99318,-118.47001
5736486,4338894910,nan,11827 ROSE AVE,00304,5204A-,DISPLAY OF TABS,34.01777,-118.43705
5736487,4338894932,nan,2920 YALE AVE,00304,5200,DISPLAY OF PLATES,33.98928,-118.44968
5736489,4338894954,nan,2201 SAWTELLE BL,00111,88.03A,OUTSIDE LINES/METER,34.03819,-118.44126
5736490,4338894965,nan,11201 MISSOURI AV,00111,88.13B+,METER EXP.,34.04305,-118.44401
5736491,4338894976,nan,1630 SAWTELLE BL,00111,88.13B+,METER EXP.,34.04648,-118.44842
5736492,4338894980,nan,1500 SAWTELLE BL,00111,88.13B+,METER EXP.,34.04836,-118.45004
5736493,4338894991,nan,1500 COLBY AV,00111,88.13B+,METER EXP.,34.04609,-118.45384
5736494,4338895002,nan,1500 COLBY AV,00111,88.13B+,METER EXP.,34.04609,-118.45384
5736495,4338895013,nan,11900 SAN VICENTE BL,00111,88.13B+,METER EXP.,34.05204,-118.47289
5736497,4338895035,nan,1201 STONER AV,00111,88.13B+,METER EXP.,34.04872,-118.46177
5736498,4338895046,nan,1201 STONER AV,00111,5200,DISPLAY OF PLATES,34.04872,-118.46177
5736499,4338895050,nan,1201 BARRINGTON AV S,00111,88.13B+,METER EXP.,34.04941,-118.46092
5736500,4338895061,nan,1401 WESTAGTE AV S,00111,88.13B+,METER EXP.,34.04444,-118.46096
5736501,4338895072,nan,1401 ARMACOST AV,00111,88.13B+,METER EXP.,34.04387,-118.46191
5736502,4338895083,nan,1201 STONER AV,00111,88.13B+,METER EXP.,34.04872,-118.46177
5736503,4338895094,nan,2200 CORINTH AV,00111,88.13B+,METER EXP.,34.03762,-118.44221
5736504,4338897566,nan,1200 PALMETTO ST,00600,80.56E1,WHITE ZONE,34.03996,-118.23758
5736505,4338897721,nan,1201 5TH ST E,00600,80.69AP+,NO STOP/STANDING,34.05408,-118.25946
5736506,4338897732,nan,1201 5TH ST E,00600,80.69AP+,NO STOP/STANDING,34.05408,-118.25946
5736507,4338897743,nan,1201 5TH ST E,00600,80.69AP+,NO STOP/STANDING,34.05408,-118.25946
5736508,4338897802,nan,722 BONNIE BRAE ST S,00600,5204A-,DISPLAY OF TABS,34.05508,-118.27477
5736509,4338897813,nan,550 CERES AVE S,00600,88.13B+,METER EXP.,34.04066,-118.24061
5736510,4338897824,nan,1201 5TH ST E,00600,80.69AP+,NO STOP/STANDING,34.05408,-118.25946
...,...,...,...,...,...,...,...,...
5741025,4339589450,nan,707 79TH ST W,00542,22500E,BLOCKING DRIVEWAY,33.96783,-118.28574
5741026,4339589461,nan,4412 MENLO AVE,00542,22507.8A-,DISABLED PARKING/NO DP ID,34.00328,-118.28964
5741027,4339589472,nan,914 48TH ST W,00542,22500E,BLOCKING DRIVEWAY,33.99961,-118.28965
5741028,4339622011,nan,9243 MEMORY PARK AVENUE,00315,80.69B,NO PARKING,34.23848,-118.46420
5741029,4339622022,nan,8947 NOBLE AVENUE,00315,80.69A+,STOP/STAND PROHIBIT,34.23306,-118.46106
5741030,4339622033,nan,8458 KESTER AVENUE,00315,80.69A+,STOP/STAND PROHIBIT,34.22420,-118.45747
5741031,4339622044,nan,8251 WILLIS AVENUE,00315,80.69A+,STOP/STAND PROHIBIT,34.22063,-118.45529
5741032,4339622055,nan,8401 TOBIAS AVENUE,00315,80.69B,NO PARKING,34.22314,-118.45165
5741034,4339662014,nan,547 MAIN ST S,00600,80.69B,NO PARKING,34.04650,-118.24871
5741035,4339662025,nan,410 SPRING ST S,00600,80.69B,NO PARKING,34.04867,-118.24843
5741036,4339662036,nan,433 SPRING ST S,00600,80.69B,NO PARKING,34.04835,-118.24873
5741037,4339662040,nan,510 SPRING ST S,00600,80.69B,NO PARKING,34.04724,-118.24976
5741038,4339662051,nan,530 SPRING ST S,00600,80.69B,NO PARKING,34.04695,-118.25004
5741039,4339662062,nan,541 SPRING ST S,00600,80.69B,NO PARKING,34.04680,-118.25017
5741040,4339662073,nan,541 SPRING ST S,00600,80.69B,NO PARKING,34.04680,-118.25017
5741041,4339662084,nan,541 SPRING ST S,00600,80.69B,NO PARKING,34.04680,-118.25017
5741042,4339662095,nan,611 SPRING ST S,00600,80.69B,NO PARKING,34.04581,-118.25110
5741043,4339662106,nan,701 HARTFORD AVE,00600,80.56E1,WHITE ZONE,34.05215,-118.26728
5741044,4339662110,nan,718 UNION AVE S,00600,22500C,SAFETY ZONE/CURB,34.05345,-118.27143
5741045,4339662121,nan,800 BEACON AVE,00600,80.61,STANDNG IN ALLEY,34.05285,-118.27334
5741046,4339662132,nan,503 UNION DR,00600,80.56E4+,RED ZONE,34.05804,-118.26813
5741047,4339662143,nan,500 BURLINGTON AVE S,00600,80.61,STANDNG IN ALLEY,34.05863,-118.27064
5741048,4339662154,nan,143 BURLINGTON AVE S,00600,80.56E4+,RED ZONE,34.06412,-118.26715
5741049,4339662165,nan,100 BONNIE BRAE ST S,00600,80.61,STANDNG IN ALLEY,34.06561,-118.26793
5741050,4339662176,nan,200 UNION PL,00600,80.56E4+,RED ZONE,34.06193,-118.26541
5741051,4339662180,nan,202 WITMER ST,00600,80.56E4+,RED ZONE,34.06090,-118.26155
5741052,4339662191,nan,202 WITMER ST,00600,5200,DISPLAY OF PLATES,34.06090,-118.26155
5741053,4339780012,nan,7301 STANFORD AVE S,00500,80.56E4+,RED ZONE,33.97387,-118.26297
5741054,4339780023,nan,759 76TH ST E,00500,80.56E4+,RED ZONE,33.97074,-118.28650
5741057,4339814150,nan,14942 POLK ST,301,80.61,STANDNG IN ALLEY,34.30028,-118.45791

In [266]:
testnewdf = testnewdf.tail(4000)

In [267]:
testnewdf.to_csv('test1.csv')

In [158]:
newdf.to_csv('dfLatLong.csv')

#example    inProj = Proj(init='epsg:102645')
outProj = Proj(init='epsg:4326')
x1,y1 = latList,longList
x2,y2 = transform(inProj,outProj,x1[],y1[])
print(x2,y2)

In [155]:
dfCoord = dflatlong[dflatlong.columns[-2:]]

In [156]:
dfCoord.head()

       newLat     newLong
2   33.945212 -118.401151
3   33.945212 -118.401009
33  34.185788 -118.363082
42  34.157607 -118.438092
43  34.126932 -118.311225

In [157]:
dfCoord.to_csv('coordinates.csv')

In [116]:
projstr = """+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +datum=NAD83 +units=us-ft +no_defs"""

inProj = pyproj.Proj(projstr, preserve_units=True)
outProj = pyproj.Proj(init='epsg:4326')

In [119]:
dflatlong = pd.DataFrame({'latitude':df1['latitude'],'longitude':df1['longitude']}).head(100000)

def convertCoords(row):
    x2,y2 = pyproj.transform(inProj,outProj, row['latitude'],row['longitude'])
    return pd.Series({'newLong':x2,'newLat':y2})

dflatlong = dflatlong.join(dflatlong.apply(convertCoords, axis=1))

In [120]:
dflatlong.head()

     latitude  longitude     newLat     newLong
2   6439997.9  1802686.4  33.945212 -118.401151
3   6440041.1  1802686.2  33.945212 -118.401009
33  6451860.6  1890192.1  34.185788 -118.363082
42  6429130.8  1880027.3  34.157607 -118.438092
43  6467477.1  1868721.0  34.126932 -118.311225

In [124]:
newdf = pd.concat([df1, dflatlong], axis=1)
newdf.head()

,ticketnumber,markedtime,location,route,violationcode,violationdescription,latitude,longitude,latitude,longitude,newLat,newLong
2,1104803000,NaN,200 WORLD WAY,2R2,8939,WHITE CURB,6439997.9,1802686.4,6439997.9,1802686.4,33.945212,-118.401151
3,1104820732,NaN,100 WORLD WAY,2F11,000,17104h,6440041.1,1802686.2,6440041.1,1802686.2,33.945212,-118.401009
33,1108321723,NaN,10635 FRIAR ST,15EL5,8056E4,RED ZONE,6451860.6,1890192.1,6451860.6,1890192.1,34.185788,-118.363082
42,1109139006,NaN,14006 RIVERSIDE DR,35MQ1,225078A,HANDICAP/NO DP ID,6429130.8,1880027.3,6429130.8,1880027.3,34.157607,-118.438092
43,1109455266,NaN,3200 CANYON DR,NaN,8603,PK IN PROH AREA,6467477.1,1868721.0,6467477.1,1868721.0,34.126932,-118.311225

In [127]:
columns = ["latitude", "longitude"]
newdf = newdf.drop(columns, axis=1)
newdf.head()

,ticketnumber,markedtime,location,route,violationcode,violationdescription,newLat,newLong
2,1104803000,NaN,200 WORLD WAY,2R2,8939,WHITE CURB,33.945212,-118.401151
3,1104820732,NaN,100 WORLD WAY,2F11,000,17104h,33.945212,-118.401009
33,1108321723,NaN,10635 FRIAR ST,15EL5,8056E4,RED ZONE,34.185788,-118.363082
42,1109139006,NaN,14006 RIVERSIDE DR,35MQ1,225078A,HANDICAP/NO DP ID,34.157607,-118.438092
43,1109455266,NaN,3200 CANYON DR,NaN,8603,PK IN PROH AREA,34.126932,-118.311225

In [158]:
newdf.to_csv('dfLatLong.csv')

#example    inProj = Proj(init='epsg:102645')
outProj = Proj(init='epsg:4326')
x1,y1 = latList,longList
x2,y2 = transform(inProj,outProj,x1[],y1[])
print(x2,y2)

In [155]:
dfCoord = dflatlong[dflatlong.columns[-2:]]

In [156]:
dfCoord.head()

       newLat     newLong
2   33.945212 -118.401151
3   33.945212 -118.401009
33  34.185788 -118.363082
42  34.157607 -118.438092
43  34.126932 -118.311225

In [157]:
dfCoord.to_csv('coordinates.csv')
testlatlong.to_csv('testLatLong.csv')
df1.to_csv('fullFixedCoords.csv')
dfCoord.to_csv('coordinates.csv')
newdf.to_csv('dfLatLong.csv')